


  <!-- 
     diaId?: number;
    diaNombre?: string;
    diaEstado?:boolean;
 -->
 <!DOCTYPE html>
 <html lang="es">
   <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Registro de la  Dias para la creacion del curso</title>
     <link
       href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
       rel="stylesheet"
     />
   </head>
   
   <body style="border-radius: 15px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); " >
    
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Dia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- <form   id="contenedorform" [formGroup]="datossilabForm"  *ngIf="neceseleccionada" novalidate>

                        <div class="">
                          <div class="">
                        <h2 class="mb-3">1. Lugar donde se dictara</h2>
                        <div class="mb-3">
                          <label  class="form-label"> Lugar donde se dictara</label>
                          <textarea
                            rows="3"
                            class="form-control"
                            formControlName="ncuLugardicta"
                            [(ngModel)]="neceseleccionada.ncuLugardicta"
                          ></textarea>
                        </div>
                
                        <label  class="form-label">Dias</label>
                        <select (change)="onSelectChange2($event.target)" [(ngModel)]="neceseleccionada.dia"  class="form-select">
                          <option  formControlName="dias" [(ngModel)]="neceseleccionada.dia" *ngFor="let clasedia of arraydias" [value]="clasedia.diaId">{{ clasedia.diaNombre }} </option>
                        </select>
                
                        <label  class="form-label">Fecha prevista de Iniciación</label>
                        <input type="date" formControlName="ncuFechaprevisfin" [(ngModel)]="neceseleccionada.ncuFechaprevisfin" class="form-control" />

                        
                          
                            <label  class="form-label">Participantes a ser inscritos</label>
                        <input type="text"  name="ncuNumparticipantes" class="form-control"  [(ngModel)]="neceseleccionada.ncuNumparticipantes" formControlName="ncuNumparticipantes" />
                
                        
                        <h2 class="mb-3">2. Resumen del proyecto y posible</h2>
                        <div class="mb-3">
                          <label for="ncuResumenyproyecto" class="form-label">Resumen del proyecto y posible</label>
                          <textarea    
                            rows="3"
                            class="form-control"
                            formControlName="ncuResumenyproyecto"
                            [(ngModel)]="neceseleccionada.ncuResumenyproyecto"
                          ></textarea>
                        </div>
                
                
                        <h2 class="mb-3">2. Poblacion a quien se encuentra dirigido</h2>
                        <div class="mb-3">
                          <label  class="form-label">Poblacion a quien se encuentra dirigido</label>
                          <textarea 
                            rows="3"
                            class="form-control"
                            formControlName="ncuPoblaciondirigida"
                            [(ngModel)]="neceseleccionada.ncuPoblaciondirigida"
                          ></textarea>
                        </div>
                          </div>
                        </div>
                
                        
                      </form> -->
        
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="editadia(neceseleccionada,neceseleccionada.ncuId)">Actualizar</button> -->
            </div>
          </div>
        </div>
      </div>

    <div  style="" class="container mt-2">
        
       <h1 style="margin-top: 15px; " class="text-center mb-5">LISTADO DE NECESIDADES DE CURSO</h1>
      
       <div class="table-responsive">
 
      </div> 
      <table   class=" table-bordered table table-responsive table-dark table-striped " >
        <thead>
          <tr class="bg-primary text-light">
            <th>ID</th>
            <th>Descripción</th>
            <th>Objetivo general</th>
            <th>Prerrequisitos</th>
 

            <th class="table-primary">Unidades de Competencia</th>
            <th class="table-primary">Elementos de competencia</th>
            <th class="table-primary">Resultados de aprendizaje</th>
            <th class="table-primary">Forma de evidenciar</th>
         


            <th class="table-warning">Día</th>
            <th class="table-warning">Contenido</th>
            <th class="table-warning">Hora clase</th>
            <th  class="table-warning">Actividades</th>
            <th class="table-warning">Horas práctica</th>
            <th class="table-warning">Actividad práctica</th>
            <th class="table-warning">Horas trabajo auto.</th>
            <th class="table-warning">Actividad trabajo auto.</th>
            <th class="table-warning">Observación.</th>

            <th class="table-info">Estrategia Metodologica.</th>
            <th class="table-info">Finalidad</th>

            <th class="table-danger">Meteriales Convencionales</th>
            <th class="table-danger">Materiale Audiovisuales</th>

           

            <th class="table-secondary">Actividades evaluativas</th>
            <th class="table-secondary">Cantidade Activididades</th>
            <th class="table-secondary">Porcentaje calificacion</th>
            <th class="table-secondary">Total </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let silabo of datossilan">
            <td>{{ silabo.dsiId }}</td>
            <td>{{ silabo.dsiDescripcioncurso }}</td>
            <td>{{ silabo.dsiObjetivogeneralc }}</td>
            <td>{{ silabo.dsiPrerrequisitos }}</td>
            <td class="table-primary align-top table-striped " colspan="4">
              <table>
                <tbody>
               
                  <tr *ngFor="let dataresult of getContenidosResultadosAprendId(silabo.dsiId)">
                    <td>{{ dataresult.rapUnidadcompe }}</td>
                    <td>{{ dataresult.rapElementoscompe }}</td>
                    <td>{{ dataresult.rapResultadosaprenactiv }}</td>
                    <td>{{ dataresult.rapFormaevidenciar }}</td>
                    
                  </tr>
                </tbody>
               
              </table>
            </td>
            <td  class="table-warning align-top" colspan="9">
              <table >
                <tbody>
                  <tr *ngFor="let dataconten of getContenidosPorSilaboId(silabo.dsiId)">
                    <td>{{ dataconten.ccuDia }}</td>
                    <td>{{ dataconten.ccuContenidos }}</td>
                    <td>{{ dataconten.ccuHorasclase }}</td>
                    <td>{{ dataconten.ccuActividaddocencia }}</td>
                    <td>{{ dataconten.ccuHoraspractica }}</td>
                    <td>{{ dataconten.ccuActividadpractica }}</td>
                    <td>{{ dataconten.ccuHorastrabajoauto }}</td>
                    <td>{{ dataconten.ccuActividadtrabajoauto }}</td>
                    <td>{{ dataconten.ccuObservaciones }}</td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td  class="table-info  align-top " colspan="2">
              <table >
                <tbody>
                  <tr *ngFor="let dataestrate of getEstrategiasId(silabo.dsiId)">
             
                    <td>{{ dataestrate.emeEstrategia }}</td>
                    <td>{{ dataestrate.emeFinalidad }}</td>
                   
                   
                  </tr>
                </tbody>
              </table>
            </td>

            <td  class="table-danger  align-top " colspan="2">
              <table >
                <tbody>
                  <tr *ngFor="let datarecursodida of getrecurdidaIdb(silabo.dsiId)">
                    
                    <td>{{datarecursodida.rdiMateconvencional}}</td>
                    <td>{{datarecursodida.rdiMateaudiovisula}}</td>

                  </tr>
                </tbody>
              </table>
            </td>

            <td  class="table-secondary  align-top " colspan="4">
              <table >
                <tbody>
                  <tr *ngFor="let datareva of getevaId(silabo.dsiId)">
                   
                    <td>{{ datareva.eraTipoactividades }}</td>
                    <td>{{ datareva.eraCantactvidades }}</td>
                    <td>{{ datareva.eraPorcentcalificacion }}</td>
                    <td>{{ datareva.eraTotal }}</td>
                   
                   
                  </tr>
                </tbody>
              </table>
            </td>



          </tr>
          
        </tbody>
      </table>

     </div>
 
  
    








    
   </body>
 </html>
 