<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro de los Días para la creación del curso</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="border-radius: 15px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); ">

  <div class="container mt-2">

    <h1 style="margin-top: 15px; " class="text-center mb-5">LISTADO DE SÍLABOS DE CURSO</h1>

    <div class="table-responsive">

    </div>
    <table id="myTable" class="table-bordered table table-responsive table-dark table-striped custom-table">
      <thead id="tableHead" class="sticky-headers">
        <th class="sticky-header table-bordered centered-header   table-striped " colspan="5">Datos Sílabo</th>
        <th class="sticky-header table-primary align-center table-striped centered-header  " colspan="4">Resultados de
          Aprendizaje</th>
        <th class="sticky-header table-warning align-top centered-header" colspan="9">Contenidos del Curso</th>
        <th class="sticky-header table-info align-top centered-header" colspan="2">Estrategias Metodológicas</th>
        <th class="sticky-header table-danger align-top centered-header" colspan="2">Recursos Didácticos</th>
        <th class="sticky-header table-secondary align-top centered-header" colspan="4">Evaluación de estudiante por
          Resultado de aprendizaje</th>
        <th class="sticky-header table-warning align-top centered-header" colspan="2">Acciones</th>
      </thead>
      <thead id="tableHead" class="sticky-headers-second table-bordered">
        <tr>
          <th>ID</th>
          <th>Identiificador</th>
          <th>Descripción</th>
          <th>Objetivo general</th>
          <th>Prerrequisitos</th>
          <!-- segunda tabla -->
          <th class="table-primary">Unidades de Competencia</th>
          <th class="table-primary">Elementos de competencia</th>
          <th class="table-primary">Resultados de aprendizaje</th>
          <th class="table-primary">Forma de evidenciar</th>
          <!-- tercera tabla -->
          <th class="table-warning">Día</th>
          <th class="table-warning">Contenido</th>
          <th class="table-warning">Hora clase</th>
          <th class="table-warning">Actividades</th>
          <th class="table-warning">Horas práctica</th>
          <th class="table-warning">Actividad práctica</th>
          <th class="table-warning">Horas trabajo auto.</th>
          <th class="table-warning">Actividad trabajo auto.</th>
          <th class="table-warning">Observación.</th>
          <!-- cuerta tabla -->
          <th class="table-info">Estrategia Metodológica.</th>
          <th class="table-info">Finalidad</th>
          <!-- quinta tabla -->
          <th class="table-danger">Meteriales Convencionales</th>
          <th class="table-danger">Materiales Audiovisuales</th>
          <!-- sexta tabla -->
          <th class="table-secondary">Actividades evaluativas</th>
          <th class="table-secondary">Cantidad Activididades</th>
          <th class="table-secondary">Porcentaje calificación</th>
          <th class="table-secondary">Total </th>

          <th class="table-warning">Eliminar </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let silabo of datossilan">
          <td class="sticky-column">{{ silabo.dsiId }}</td>
          <td class="sticky-column">{{ silabo.dsiIdentificador }}</td>
          <td>{{ silabo.dsiDescripcioncurso }}</td>
          <td>{{ silabo.dsiObjetivogeneralc }}</td>
          <td>{{ silabo.dsiPrerrequisitos }}</td>
          <td class="table-primary align-top table-striped" colspan="4">
            <table>
              <tbody>
                <tr *ngFor="let dataresult of getContenidosResultadosAprendId(silabo.dsiId)">
                  <td>{{ dataresult.rapUnidadcompe }}</td>
                  <td>{{ dataresult.rapElementoscompe }}</td>
                  <td>{{ dataresult.rapResultadosaprenactiv }}</td>
                  <td>{{ dataresult.rapFormaevidenciar }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="table-warning align-top" colspan="9">
            <table>
              <tbody>
                <tr *ngFor="let dataconten of getContenidosPorSilaboId(silabo.dsiId)">
                  <td>{{ dataconten.ccuDia }}</td>
                  <td>{{ dataconten.ccuContenidos }}</td>
                  <td>{{ dataconten.ccuHorasclase }}</td>
                  <td>{{ dataconten.ccuActividaddocencia }}</td>
                  <td>{{ dataconten.ccuHoraspractica }}</td>
                  <td>{{ dataconten.ccuActividadpractica }}</td>
                  <td>{{ dataconten.ccuHorastrabajoauto }}</td>
                  <td>{{ dataconten.ccuActividadtrabajoauto }}</td>
                  <td>{{ dataconten.ccuObservaciones }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="table-info align-top" colspan="2">
            <table>
              <tbody>
                <tr *ngFor="let dataestrate of getEstrategiasId(silabo.dsiId)">
                  <td>{{ dataestrate.emeEstrategia }}</td>
                  <td>{{ dataestrate.emeFinalidad }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="table-danger align-top" colspan="2">
            <table>
              <tbody>
                <tr *ngFor="let datarecursodida of getrecurdidaIdb(silabo.dsiId)">
                  <td>{{ datarecursodida.rdiMateconvencional }}</td>
                  <td>{{ datarecursodida.rdiMateaudiovisula }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="table-secondary align-top" colspan="4">
            <table>
              <tbody>
                <tr *ngFor="let datareva of getevaId(silabo.dsiId)">
                  <td>{{ datareva.eraTipoactividades }}</td>
                  <td>{{ datareva.eraCantactvidades }}</td>
                  <td>{{ datareva.eraPorcentcalificacion }}</td>
                  <td>{{ datareva.eraTotal }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="table-warning align-top" colspan="2">
            <table>
              <tbody>
                <tr>

                  <td>
                    <button id="btnnes" style="padding-left: 25px;padding-right: 25px;" type="button"
                      class="btn btn-primary" (click)="eliminar(silabo.dsiId)" data-target="#Employee">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>