.sticky-column {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #343a40; /* Ajusta el color de fondo según tus necesidades */
   
  }
  .centered-header {
    
    justify-content: center;
    align-items: center;
   
  }
 


  .table-bordered {
    /* Asegúrate de tener estos estilos para que el contenido no se desborde */
    table-layout: fixed;
    width: 100%;
  }
  
  .table-responsive {
    /* Ajusta estos estilos si deseas que la tabla sea responsive */
    overflow-x: auto;
  }
  .custom-table {
    height: 900px; /* ajusta la altura según tus necesidades */
    overflow-y: scroll;
  }
  
  .custom-table thead th {
    position: sticky;
    top: 0;

  }
  
  
  .custom-table .sticky-column {
    position: sticky;
    left: 0;


  }
  



  .sticky-headers {
    position: sticky;
    top: 0;

    z-index: 2;
  }
  
  .sticky-headers-second {
    position: sticky;
    top: 40px; /* Ajusta esta altura según el tamaño del primer encabezado */

    z-index: 1;
  }
  
  .sticky-headers th {
    font-weight: bold; /* Ajusta el estilo de fuente según tus preferencias */
  }
  
  .sticky-headers .sticky-column {
    position: sticky;
    left: 0;
    z-index: 3;

  }
  
  .custom-table {
    height: 900px;
    overflow-y: scroll;
  }
 