.custom-span {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
  }
  #preview {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
  }
  
  .my-nav {
    padding: 15px; /* Espacio interno para separación */
  }
    /* Estilos para los enlaces dentro del nav */
    a {
      color: #ffffff; /* Color del texto blanco */
      text-decoration: none; /* Sin subrayado */
      transition: color 0.3s; /* Transición suave al cambiar el color */
      position: relative; /* Posición relativa para los efectos */
    }
  
    /* Estilos para los enlaces hover (al pasar el mouse) */
    a:hover {
      color: #5838f4; /* Color del texto rosa brillante */
      text-shadow: 1px 1px 3px #f7bf06; /* Sombra de texto rosa */
    }
  
    /* Estilos para el efecto de subrayado */
    a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background-color: #4a66e4; /* Color del subrayado rosa */
      transform: scaleX(0); /* Inicialmente oculto */
      transition: transform 0.3s; /* Transición suave al mostrar */
    }
  
    /* Estilos para el efecto de subrayado hover */
    a:hover::after {
      transform: scaleX(1); /* Mostrar el subrayado al pasar el mouse */
    }
    .container {
      background-color: #ffffff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra a los contornos */
      border-radius: 8px; /* Redondea las esquinas */
      padding: 20px; /* Opcional: Añade un relleno interno */
    }