<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">

                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                    class="bi bi-award-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                </svg>
                                <h4>Administrador</h4>
                                <p class="text-secondary mb-1"></p>
                                <!-- <p class="text-muted font-size-sm">Celular: {{persona.celular}}</p> -->
                                <!-- <button class="btn btn-primary" (click)="mostrarDatos()">Ver</button> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 style="text-align: center;">Actualizacion de Datos </h4>
                        <br>
                        <form>
                            <!-- <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">id:</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="inputCedula"
                                        placeholder="Ingrese su id" name="idPersona" [(ngModel)]="persona.id_persona">
                                </div>
                            </div> -->

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Cedula</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="inputCedula"
                                        placeholder="Ingrese su cedula" name="cedula" maxlength="10" [(ngModel)]="persona.cedula" (blur)="validarInputCedula()" (input)="verificarCamposVacios()">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombres</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="inputNombre"
                                        placeholder="Ingrese su nombre" name="nombre" [(ngModel)]="persona.nombre" (keydown)="validarInputNombre()" (input)="convertirPrimeraLetraNombre()">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Apellidos</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="inputApellido"
                                        placeholder="Ingrese su apellido" name="apellido"
                                        [(ngModel)]="persona.apellido" (keydown)="validarInputApellido()" (input)="convertirPrimeraLetraMayuscula()">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Fechas de Nacimiento</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="date" class="form-control" id="inputApellido"
                                        placeholder="Ingrese su apellido" name="fecha_nacimiento"
                                        [(ngModel)]="persona.fecha_nacimiento" [max]="fechaActual"
                                        (input)="verificarCamposVacios()">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="email" class="form-control" id="inputEmail"
                                        placeholder="Ingrese su correo electrónico" name="email"
                                        [(ngModel)]="persona.email" (blur)="validarInputEmail()"
                                        (input)="verificarCamposVacios()">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Direccion</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="inputDireccion"
                                        placeholder="Ingrese su dirección" name="direccion"
                                        [(ngModel)]="persona.direccion" (input)="verificarCamposVacios()">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Telefono</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="tel" class="form-control" id="inputTelefono"
                                        placeholder="Ingrese su teléfono" name="telefono"
                                        [(ngModel)]="persona.telefono" (keydown)="validarTelf()"
                                        (input)="verificarCamposVacios()" maxlength="10">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Celular</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="tel" class="form-control" id="inputCelular"
                                        placeholder="Ingrese su celular" name="celular" 
                                        [(ngModel)]="persona.celular" (keydown)="validarCel()"
                                        (input)="verificarCamposVacios()" maxlength="10">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Etnia</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="inputEtnia"
                                        placeholder="Ingrese su etnia" name="etnia"
                                         [(ngModel)]="persona.etnia" (keydown)="validarEtnia()"
                                         (input)="verificarCamposVacios()">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Sexo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <select id="inputSexo" class="form-control" name="sexo" [(ngModel)]="persona.sexo" (input)="verificarCamposVacios()">
                                        <option selected>Seleccione una opción...</option>
                                        <option>Masculino</option>
                                        <option>Femenino</option>
                                        <option>No binario</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nivel Instruccion</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <select id="inputSexo" class="form-control" name="nivelintruccion"
                                        [(ngModel)]="persona.nivelintruccion" (input)="verificarCamposVacios()">
                                        <option selected>Seleccione una opción...</option>
                                        <option>Primaria</option>
                                        <option>Secundaria</option>
                                        <option>Bachiller</option>
                                        <option>Tercer nivel</option>
                                        <option>Cuarto Nivel</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Hoja de vida</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" id="inputEtnia"
                                        placeholder="Ingrese su etnia" name="etnia" 
                                        [(ngModel)]="persona.hojavida" (input)="verificarCamposVacios()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <Span></Span> <button (click)="onSubmit()" [disabled]="todosCamposVacios">Guardar Cambios</button>
                                    <!-- <Span></Span> <button (click)="mostrarDatos()">Ver datos</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>