<h2>Agregar Institución</h2>
<form (ngSubmit)="agregarInstitucion()" enctype="multipart/form-data">
  <div class="form-group">
    <label for="insNombre">Nombre</label>
    <input type="text" class="form-control" id="insNombre" name="insNombre" [(ngModel)]="registro.insNombre" required
      (input)="convertirPrimeraLetraNombre()" (keydown)="validarInputNombre()">
  </div>
  <div>
    <label for="insLogo">Logo:</label>
    <input type="file" id="insLogo" class="form-control" (change)="onFileSelected($event)" name="insLogo"
      accept="image/*" required (blur)="verificarCamposVacios()">
    <img class="small-image1" *ngIf="selectedImage1" [src]="selectedImage1" alt="Logo">
  </div>
  <div>
    <label for="insLogoGrande">Logo Grande:</label>
    <input class="form-control" type="file" id="insLogoGrande" (change)="onFileSelected2($event)" name="insLogoGrande"
      accept="image/*" required (blur)="verificarCamposVacios()">
    <img class="small-image1" *ngIf="selectedImage2" [src]="selectedImage2" alt="Logo Grande">
  </div>
  <div>
    <label for="insLogosec">Logo Sec:</label>
    <input class="form-control" type="file" id="insLogosec" (change)="onFileSelected3($event)" name="insLogosec"
      accept="image/*" required (blur)="verificarCamposVacios()">
    <img class="small-image1" *ngIf="selectedImage3" [src]="selectedImage3" alt="Logo Sec">
  </div>
  <div>
    <label for="insLogogob">Logo Gob:</label>
    <input class="form-control" type="file" id="insLogogob" (change)="onFileSelected4($event)" name="insLogogob"
      accept="image/*" required (blur)="verificarCamposVacios()">
    <img class="small-image1" *ngIf="selectedImage4" [src]="selectedImage4" alt="Logo Sec">
  </div>
  <div>
    <label for="insLogosecretariaedu">Logo Secretaria Edu:</label>
    <input class="form-control" type="file" id="insLogosecretariaedu" (change)="onFileSelected5($event)"
      name="insLogosecretariaedu" accept="image/*" required (blur)="verificarCamposVacios()">
    <img class="small-image1" *ngIf="selectedImage5" [src]="selectedImage5" alt="Logo Sec">
  </div>
  <div>
    <label for="insLogocert">Logo Cert:</label>
    <input class="form-control" type="file" id="insLogocert" (change)="onFileSelected6($event)" name="insLogocert"
      accept="image/*" required (blur)="verificarCamposVacios()">
    <img class="small-image1" *ngIf="selectedImage6" [src]="selectedImage6" alt="Logo Sec">
  </div>
  <div>
    <label for="insDireccion">Dirección:</label>
    <input type="text" id="insDireccion" class="form-control" [(ngModel)]="registro.insDireccion" name="insDireccion"
      required (input)="validarDireccion()">
  </div>
  <button type="submit" [disabled]="todosCamposVacios">{{ editingMode ? 'Editar Institución' : 'Agregar Institución' }}</button>
</form>
<form>
  <h2>Lista de Instituciones</h2>
  <div class="table-hover">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Logo</th>
          <th>Logo Grande</th>
          <th>Logo Sec</th>
          <th>Logo Gob</th>
          <th>Logo Secretaria Edu</th>
          <th>Logo Cert</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let institucion of instituciones">
          <td>{{ institucion.insId }}</td>
          <td>{{ institucion.insNombre }}</td>
          <td>{{ institucion.insDireccion }}</td>
          <td>
            <img class="small-image" [src]="'data:image/jpeg;base64,' +institucion.insLogo" alt="Logo"
              [style.width]="imageSize">
          </td>
          <td>
            <img [src]="'data:image/jpeg;base64,' + institucion.insLogoGrande" alt="Foto" class="img-thumbnail"
              width="100" />
          </td>
          <td>
            <img class="small-image" [src]="'data:image/jpeg;base64,' + institucion.insLogosec" alt="Logo Sec"
              [style.width]="imageSize">
          </td>
          <td>
            <img class="small-image" [src]="'data:image/jpeg;base64,' + institucion.insLogogob" alt="Logo Gob"
              [style.width]="imageSize">
          </td>
          <td>
            <img class="small-image" [src]="'data:image/jpeg;base64,' + institucion.insLogosecretariaedu"
              alt="Logo Secretaria Edu" [style.width]="imageSize">
          </td>
          <td>
            <img class="small-image" [src]="'data:image/jpeg;base64,' + institucion.insLogocert" alt="Logo Cert"
              [style.width]="imageSize">
          </td>
          <td>
            <button class="btn btn-primary" (click)="editarInstitucion(institucion)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>