.small-image {
    max-width: 50px; /* Ajusta el tamaño máximo de las imágenes */
    max-height: 50px;
    /* Agrega otros estilos según tus preferencias, como borde, margen, etc. */
  }
  
  .small-image1 {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
  }

  .container {
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra a los contornos */
    border-radius: 8px; /* Redondea las esquinas */
    padding: 20px; /* Opcional: Añade un relleno interno */
  }
  
  