<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ficha de Inscripción a Cursos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container mt-4">
    <h2 class="mb-4">Ficha de Inscripción a Cursos</h2>
    <form>
      <h4>1. Curso</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="codigoCurso" class="form-label">Código de Curso</label>
            <input type="text" class="form-control" id="codigoCurso" value=" {{this.curso.curCodigo}}" disabled />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="nombreCurso" class="form-label">Nombre del Curso</label>
            <input type="text" class="form-control" id="nombreCurso" value=" {{this.curso.curNombre}}" disabled />
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="modalidad" class="form-label">Modalidad</label>
        <input type="text" class="form-control" id="modalidad" value=" {{this.curso.mcursos.mcuNombre}}" disabled />
      </div>
      <!-- los horarios -->
      <div class="mb-3">
        <label for="horarion" class="form-label">Horarios del curso
          <span style="color: red; font-size: 20px;" *ngIf="camp10===false">*</span>
        </label>
        <select class="form-select" id="horarion" [(ngModel)]="horarioCurso" name="horarion">
          <option *ngFor="let horarioCurso of horarioscursoList" [ngValue]="horarioCurso">
            {{ horarioCurso.horario.horInicio }} - {{ horarioCurso.horario.horFin }}
          </option>
        </select>
      </div>

      <!-- ***************************** -->
      <h4 class="mt-4">2. Datos Personales</h4>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="cedula" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese sus Apellidos"
              name="apellido" [(ngModel)]="persona.apellido" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="cedula" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese sus Nombres" name="nombre"
              [(ngModel)]="persona.nombre" disabled>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="cedula" class="form-label">Cédula de Ciudadanía</label>
            <input type="text" class="form-control" id="inputCedula" placeholder="Ingrese su cedula" name="cedula"
              [(ngModel)]="persona.cedula" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="inputFechanacimiento"
              placeholder="Ingrese su Fecha de Nacimiento" name="fecha_nacimiento"
              [(ngModel)]="persona.fecha_nacimiento" disabled>
          </div>
        </div>
      </div>

      
          <div class="mb-3">
            <label for="sexo" class="form-label">Sexo</label>
            <select id="inputSexo" class="form-control" name="sexo" [(ngModel)]="persona.sexo" disabled>
              <option selected>Seleccione una opción...</option>
              <option>Masculino</option>
              <option>Femenino</option>
              <option>No especificar</option>
            </select>
          </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="telefonoConvencional" class="form-label">Nro. de Teléfono Convencional</label>
            <input type="text" class="form-control" id="inputTelefono" placeholder="Ingrese su numero Telefono"
              name="telefono" [(ngModel)]="persona.telefono" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="telefonoCelular" class="form-label">Nro. de Teléfono Celular</label>
            <input type="text" class="form-control" id="inputCelular" placeholder="Ingrese su numero Celular"
              name="celular" [(ngModel)]="persona.celular" disabled>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="correo" class="form-label">Correo Electrónico</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="Ingrese su  Email" name="email"
          [(ngModel)]="persona.email" disabled>
      </div>
      <div class="mb-3">
        <label for="nivelInstruccion" class="form-label">Nivel de Instrucción</label>
        <input type="text" class="form-control" id="nivelInstruccion" name="nivelInstruccion"
          [(ngModel)]="persona.nivelintruccion" disabled>
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <label for="etina" class="form-label">Etnia</label>
          <input type="text" class="form-control" id="etina" name="etina" [(ngModel)]="persona.etnia" disabled>
        </div>
      </div>

      <!-- DATOS DEL INFORME -->
      <h4 class="mt-4">3. Información Laboral / Estudios</h4>
      <div class="mb-3">
        <label for="institucion" class="form-label">Institución donde trabaja/estudia
          <span style="color: red; font-size: 20px;" *ngIf="camp1==false">*</span>
        </label>
        <input type="text" class="form-control" id="inputfinInstituciontraest" placeholder="Ingrese el Nombre"
          name="finInstituciontraest" [(ngModel)]="fichaInscripcion.finInstituciontraest" required>
      </div>
      <div class="mb-3">
        <label for="direccionInstitucion" class="form-label">Dirección de la Institución
          <span style="color: red; font-size: 20px;" *ngIf="camp2==false">*</span>
        </label>
        <input type="text" class="form-control" id="inputfinDireccioninst" placeholder="Ingrese la Dirrecion"
          name="finDireccioninst" [(ngModel)]="fichaInscripcion.finDireccioninst">
      </div>
      <div class="mb-3">
        <label for="correoInstitucion" class="form-label">Correo electrónico de la institución
          <span style="color: red; font-size: 20px;" *ngIf="camp3==false">*</span>
        </label>
        <input type="text" class="form-control" id="inputfinCorreoinst" placeholder="Ingrese el Correo"
          name="finCorreoinst" [(ngModel)]="fichaInscripcion.finCorreoinst">
      </div>
      <div class="mb-3">
        <label for="telefonoInstitucion" class="form-label">Número Telefónico de la institución
          <span style="color: red; font-size: 20px;" *ngIf="camp4==false">*</span>
        </label>
        <input type="text" class="form-control" id="inputTelefonoInst" placeholder="Ingrese el Teléfono"
          name="telefonoInst" [(ngModel)]="fichaInscripcion.finTelefonoinst" (input)="filtrarNumeros($event)"
          inputmode="numeric">
      </div>
      <div class="mb-3">
        <label for="actividadInstitucion" class="form-label">Actividad de la Institución
          <span style="color: red; font-size: 20px;" *ngIf="camp5==false">*</span>
        </label>
        <input type="text" class="form-control" id="inputfinActividadinst" placeholder="Ingrese la actividad"
          name="finActividadinst" [(ngModel)]="fichaInscripcion.finActividadinst">
      </div>

      <div class="mb-3">
        <label for="auspicio" class="form-label">¿El curso es auspiciado por la Institución?
          <span style="color: red; font-size: 20px;" *ngIf="camp6==false">*</span>
        </label>
        <select class="form-select" id="auspicio" name="finAuspiciadoinst" [(ngModel)]="opcionSeleccionada"
          (change)="mostrarSeleccion()">
          <option>Sí</option>
          <option>No</option>
        </select>
      </div>

      <div *ngIf="fichaInscripcion.finAuspiciadoinst === true">
        <div class="mb-3">
          <label for="nombreContacto" class="form-label">Si está auspiciado, indique el nombre del contacto
            <span style="color: red; font-size: 20px;" *ngIf="camp7==false">*</span>
          </label>
          <input type="text" class="form-control" id="inputfinNombreauspicia" placeholder="Ingrese el nombre"
            name="finNombreauspicia" [(ngModel)]="fichaInscripcion.finNombreauspicia">
        </div>
      </div>
      <div class="mb-3">
        <label for="enteradoCurso" class="form-label">¿Cómo se enteró del curso?
          <span style="color: red; font-size: 20px;" *ngIf="camp8==false">*</span>
        </label>
        <input type="text" class="form-control" id="inputfinComoentero" placeholder="Descripción" name="finComoentero"
          [(ngModel)]="fichaInscripcion.finComoentero">
      </div>
      <div class="mb-3">
        <label for="finOtroscursosdesea" class="form-label">¿Qué otros cursos le gustaría seguir?
          <span style="color: red; font-size: 20px;" *ngIf="camp9==false">*</span>
        </label>
        <textarea class="form-control" id="finOtroscursosdesea" rows="3" name="finOtroscursosdesea"
          [(ngModel)]="fichaInscripcion.finOtroscursosdesea"></textarea>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9 text-secondary">
          <Span></Span> <button (click)="guardarFichaIncripcion(fichaInscripcion)" class="btn btn-primary">Guardar
            Ficha</button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>