.left-div{
    width: 25%;
   padding: 0 15px;
}
/* .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    max-width: 450px;
    height: 0px;
  } */
