<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



  <!-- Template Main CSS File -->
  <style>
    #sidebarToggle {
      display: none;
    }

    @media only screen and (max-width: 1080px) {
      #sidebarToggle {
        display: block;
      }
    }
  </style>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <img
          src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png"
          alt="">
        <span class="d-none d-lg-block">TecAzuay</span>
      </a>
      <button id="sidebarToggle" class="btn btn-primary">
        <i class="bi bi-list"></i>
      </button>
    </div><!-- End Logo -->

    <div class="search-bar">

    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              Tienes 4 notificaciones

              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-person "></i>
            <span class="d-none d-md-block dropdown-toggle ps-2">{{nombreUsuario}}</span>
            <span class="user-desc">{{nombreRol}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>USARIO INGRESADO</h6>
              <span>rol del usuario</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="goTo_visperfil($event)">
                <i class="bi bi-person"></i>
                <span>Mi Perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="Cerrarsesion()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Cerrar Sesión</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link ">
          <i class="bi bi-house"></i>
          <span> Participante</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#perfil-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-clipboard2-plus"></i><span>Perfil Participante</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="perfil-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a (click)="goTo_visperfil($event)">
              <i class="bi bi-circle"></i><span>Vista Perfil</span>
            </a>
          </li>
          <li>
            <a (click)="goTo_ediperfil($event)">
              <i class="bi bi-circle"></i><span>Edición Perfil</span>
            </a>
          </li>
        </ul>
      </li><!-- termino perfil Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-clipboard2-plus"></i><span>Inscripción</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a (click)="goToRegisterInscripcion($event)">
              <i class="bi bi-circle"></i><span>Registrar Ficha Inscripción</span>
            </a>
          </li>
          <li>
            <a (click)="goTo_gen_ficha($event)">
              <i class="bi bi-circle"></i><span>Generar Ficha Inscripción</span>
            </a>
          </li>
        </ul>
      </li><!-- termino necesidad Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Programas Capacitación</span><i
            class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a (click)="goTocatprogram($event)">
              <i class="bi bi-circle"></i><span>Catálgo Programas</span>
            </a>
          </li>
          <li>
            <a (click)="goTo_validaplicacion($event)">
              <i class="bi bi-circle"></i><span>Aplicación a Cursos </span>
            </a>
          </li>
          <li>
            <a (click)="goTo_estadpcurso($event)">
              <i class="bi bi-circle"></i><span>Estado Cursos </span>
            </a>
          </li>

        </ul>
      </li><!-- End Forms Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#reglamento-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Reglamento Capacitaciones</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="reglamento-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a (click)="goToverReglamento($event)">
              <i class="bi bi-circle"></i><span>Ver Reglamento</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Charts Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" (click)="Cerrarsesion()">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Cerrar sesión</span>
        </a>
      </li><!-- End Login Page Nav -->





    </ul>

  </aside><!-- End Sidebar-->






  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>