<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Evaluación</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1z3mSD/rW3lDtXrP8MBu5c5/5W5W5w87f1t/Dk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Preguntas para ficha de Evaluación</h1>

      <form>
        <div class="mb-3">
          <label for="pregunta" class="form-label">Pregunta</label>
          <input
            type="text"
            class="form-control"
            id="pregunta"
            placeholder="Escribe tu pregunta aquí"
          />
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="calificacion" class="form-label">Calificación</label>
            <select class="form-select" id="calificacion">
              <option selected>Elige una calificación</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <div class="col-md-6 mb-3">
            <div class="form-check mt-4">
              <input type="checkbox" class="form-check-input" id="activo" />
              <label class="form-check-label" for="activo">Activo</label>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>

    <!-- Agregar enlaces a Bootstrap JavaScript y Popper.js -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-xs1lxBFuh87HUDM-HwZzAtLOD+Gw8F1UfILQ9LszJv7T0wLGJNt/7M5CxYww4J4c"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-AyAh5xmTCHt8MfU7rDg6Zjl5bzw6pW5f5XCaP5erPpJ7Vpw5GjK4676P/L5Z2f5J"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
