<div class="container" style="background-color: #ffffff;">
  <div class="mt-4">
    <h3 style="text-align: center;">{{ isNew ? 'Nuevo Detalle de mecanismo de evaluación' : 'Editar Detalle de mecanismo de evaluación' }}</h3>
    <form #detalleForm="ngForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="mecanismo">Seleccione el mecanismo de evaluación al que pertenece:</label>
            <select class="form-control" id="mecanismo" [(ngModel)]="detalleSeleccionado.mecanismoEvaluacion.mevId"
              name="mecanismo" required>
              <option *ngFor="let mecanismo of mecanismos" [value]="mecanismo.mevId"
                [selected]="mecanismo.mevId === detalleSeleccionado.mecanismoEvaluacion.mevId">{{
                mecanismo.mevDescripcion }}</option>
            </select>
            <small class="text-danger" *ngIf="!mecanismoValido">Campo requerido. Debes seleccionar un Mecanismo de
              evaluación.</small>
          </div>
          <div class="form-group">
            <label for="dmeTecnica">Técnica</label>
            <input type="text" class="form-control" id="dmeTecnica" name="dmeTecnica"
              [(ngModel)]="detalleSeleccionado.dmeTecnica" required>
            <small class="text-danger" *ngIf="!dmeTecnicaValido">Campo requerido. Debes ingresar una técnica de
              evaluación</small>
          </div>
          <div class="form-group">
            <label for="dmeInstrumento">Instrumento</label>
            <input type="text" class="form-control" id="dmeInstrumento" name="dmeInstrumento"
              [(ngModel)]="detalleSeleccionado.dmeInstrumento" required>
            <small class="text-danger" *ngIf="!dmeInstrumentoValido">Campo requerido. Debes ingresar un Instrumento de
              evaluación</small>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{ isNew ? 'Crear' : 'Guardar' }}</button>
    </form>
  </div>

  <br>
  <br>
  <div class="form-group">
    <label for="buscar">Buscar:</label>
    <input type="text" class="form-control" id="buscar" name="buscar" [(ngModel)]="filtro" (keyup)="actualizarFiltro()">
  </div>

  <br>
  <h2>Detalles </h2>
  <table class="table">
    <thead>
      <tr class="bg-primary text-light">
        <th scope="col">Técnica</th>
        <th scope="col">Instrumento</th>
        <th scope="col">Mecanismo de evaluación</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let detalle of detalles">
        <tr *ngIf="detalle.dmeTecnica.toLowerCase().includes(filtro.toLowerCase()) || 
                   detalle.dmeInstrumento.toLowerCase().includes(filtro.toLowerCase())">
          <td>{{ detalle.dmeTecnica }}</td>
          <td>{{ detalle.dmeInstrumento }}</td>
          <td>{{ detalle.mecanismoEvaluacion ? detalle.mecanismoEvaluacion.mevDescripcion : '' }}</td>
          <td>
            <button class="btn btn-primary" (click)="editarDetalle(detalle)">Editar</button>
            <button class="btn btn-danger" (click)="eliminarDetalle(detalle.dmeId)">Eliminar</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>