<br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<div class="container1" *ngIf="showContainer1">
    <h4 style="text-align: center;">JUSTIFICACIÓN DE FALTAS</h4>
    <br>
    <div class="row">
        <div class="col-md-4 col-xl-3" *ngFor="let curso of cursosList">
            <div class="card bg-c-blue order-card" (click)="selectCurso(curso.curId)">
                <div class="card-block">
                    <h6 class="m-b-20">Codigo: {{curso.curCodigo}}</h6>
                    <h2 class="text-right"><i class="fa fa-graduation-cap f-left"></i><span>{{curso.curNombre}}</span>
                    </h2>
                    <div style="margin-bottom: 10px;">
                        <h3 class="val"><span class="f-right">{{curso.curFechainicio | date:
                                'dd/MM/yyyy'}}</span>Inicia</h3>
                        <h3 class="val"><span class="f-right">{{curso.curFechafin | date:
                                'dd/MM/yyyy'}}</span>Termina</h3>
                    </div>
                    <div style="margin-bottom: 10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color: #ffffff;">
    <div class="container2" *ngIf="showContainer2">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb my-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a
                        (click)="showContainer1 = true; showContainer2 = false; showContainer3 = false; showContainer4 = false; showContainer5 = false;">Cursos</a>
                </li>
                <li class="breadcrumb-item"><a>Horarios</a></li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
        <h2>Horario/s del Curso</h2>
        <table class="table">
            <thead>
                <tr class="bg-primary text-light">
                    <th scope="col">Nombre</th>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">Hora Fin</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let horarioCur of horariosCur">
                    <!-- Filtrar los horarios por el ID del curso seleccionado -->
                    <tr *ngIf="horarioCur.hcurso.curId === selectedCursoId"
                        (click)="selectHorariosCurso(horarioCur.hcuId)">
                        <td>{{ horarioCur.hcuNombre }}</td>
                        <td>{{ horarioCur?.horario?.horInicio }}</td>
                        <td>{{ horarioCur?.horario?.horFin }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </div>
</div>
<div class="container" style="background-color: #ffffff;">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container" *ngIf="showContainer3">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb my-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a
                        (click)="showContainer1 = true; showContainer2 = false; showContainer3 = false; showContainer4 = false; showContainer5 = false;">Cursos</a>
                </li>
                <li class="breadcrumb-item"><a
                        (click)="showContainer1 = false; showContainer2 = true; showContainer3 = false; showContainer4 = false; showContainer5 = false;">Horarios</a>
                </li>
                <li class="breadcrumb-item"><a>Estudiantes</a></li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
        <br>
        <h5>Listado de estudiantes</h5>
        <br>
        <table class="table">
            <thead>
                <tr class="bg-primary text-light">
                    <th scope="col">Cédula</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombres</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of participantes" (click)="mostrarAsistencias(item.participante.parId)">

                    <td>{{ item.participante.parPersona?.cedula }}</td>
                    <td>{{ item.participante.parPersona?.apellido }}</td>
                    <td>{{ item.participante.parPersona?.nombre }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container" style="background-color: #ffffff;">
    <div class="container2" *ngIf="showContainer4">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb my-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a
                        (click)="showContainer1 = true; showContainer2 = false; showContainer3 = false; showContainer4 = false; showContainer5 = false;">Cursos</a>
                </li>
                <li class="breadcrumb-item"><a
                        (click)="showContainer1 = false; showContainer2 = true; showContainer3 = false; showContainer4 = false; showContainer5 = false;">Horarios</a>
                </li>
                <li class="breadcrumb-item"><a
                        (click)="showContainer1 = false; showContainer2 = false; showContainer3 = true; showContainer4 = false; showContainer5 = false;">Estudiantes</a>
                </li>
                <li class="breadcrumb-item"><a>Faltas</a></li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="container" style="background-color: #ffffff;">
                    <br>
                    <h5>Listado de estudiantes</h5>
                    <table class="table">
                        <thead>
                            <tr class="bg-primary text-light">
                                <th scope="col">Cédula</th>
                                <th scope="col">Estudiante</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Horas/Falta</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of asistencias">
                                <td>{{ item.asiParticipante.parPersona?.cedula }}</td>
                                <td>{{ item.asiParticipante.parPersona?.apellido }} {{
                                    item.asiParticipante.parPersona?.nombre }}</td>
                                <td>{{ item.asiFecha | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ item.asiNumfaltas }}</td>
                                <td>
                                    <button class="btn btn-primary"
                                        (click)="mostrarAsistenciaEnEdicion(item)">Justificar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color: #ffffff;">
    <div class="container3" *ngIf="showContainer5">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb my-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="mostrarCurso()">Cursos</a></li>
                <li class="breadcrumb-item"><a (click)="mostrarHorarios()">Horarios</a></li>
                <li class="breadcrumb-item"><a (click)="mostrarEstudiantes()">Estudiantes</a></li>
                <li class="breadcrumb-item"><a (click)="mostrarFaltas()">Faltas</a></li>
                <li class="breadcrumb-item"><a>Justificar</a>
                </li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row">
            <div class="col-md-12 col-xl-12">
                <div class="container" style="background-color: #ffffff;">
                    <div class="form-group">
                        <label for="cedula">Cédula:</label>
                        <input type="text" class="form-control" id="cedula"
                            [value]="asistenciaSeleccionada.asiParticipante.parPersona?.cedula" disabled>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre"
                            [value]="asistenciaSeleccionada.asiParticipante.parPersona?.nombre" disabled>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" class="form-control" id="apellido"
                            [value]="asistenciaSeleccionada.asiParticipante.parPersona?.apellido" disabled>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input type="text" class="form-control" id="fecha" [value]="asistenciaSeleccionada.asiFecha"
                            disabled>
                    </div>
                    <input type="number" class="form-control" id="horasFalta"
                        [(ngModel)]="asistenciaSeleccionada.asiNumfaltas" [max]="valorMaximo"
                        (change)="validarHorasFalta()">



                    <button class="btn btn-primary" (click)="guardarCambios()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>