<br>
<div class="container" style="background-color: #ffffff;">

    <!DOCTYPE html>
    <html lang="en">

    <head style="text-align: center;">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Visualizador PDF</title>
    </head>

    <body style="text-align: center;">
        <!-- Título -->
        <h1 class="title">REGLAMENTO DE FORMACIÓN CONTINUA</h1>
        <br>
        <!-- title -->
        <embed src="assets/docs/REGLAMENTO DE FORMACIÓN CONTINUA.pdf" type="application/pdf" width="999vh"
            height="900vh" style="text-align: center;" />
    </body>

    </html>
</div>