
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container-fluid">
    <input type="radio" class="btn-check" name="options-outlined" id="listaEstudiantes" autocomplete="off" checked>
    
        <label class="btn btn-outline-success" for="listaEstudiantes" (click)="selectedForm = 'culminados'">Reportes de
            estudiantes</label>


    <input type="radio" class="btn-check" name="options-outlined" id="notas" autocomplete="off">
    <label class="btn btn-outline-success" for="notas" (click)="selectedForm = 'reportesNotas'">Reportes de
        notas</label>

    <input type="radio" class="btn-check" name="options-outlined" id="desertores" autocomplete="off">
    <label class="btn btn-outline-danger" for="desertores" (click)="selectedForm = 'reportesDesertores'">Reportes de
        estudiantes desertores</label>

    <div *ngIf="selectedForm === 'culminados'">
        <label for="exampleDataList" class="form-label">Lista de estudiantes</label>
        <!-- [(ngModel)]="cedula"  -->
        <div class="input-group">
            <input type="search" id="cedula" name="cedula" class="form-control rounded" placeholder="Search"
                aria-label="Search" aria-describedby="search-addon" (input)="onSearchInputChange($event)"
                [(ngModel)]="nombre" (keydown)="validarNombre()" />
            <button type="button" class="btn btn-outline-primary">Buscar</button>
        </div>
        <div class="table-hover">
            <table class="table" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">CEDULA</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">CORREO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">0106574589</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mark@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row">0106574575</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>jacob@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row">0106574475</th>
                        <td>Larry</td>
                        <td>Bird</td>
                        <td>larry@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="selectedForm === 'reportesDesertores'">
        <label for="exampleDataList" class="form-label">Reportes de estudiantes desertores</label>
        <div class="input-group">
            <input type="search" id="cedula" name="cedula" class="form-control rounded" placeholder="Search"
                aria-label="Search" aria-describedby="search-addon" (input)="onSearchInputChange($event)" />
            <button type="button" class="btn btn-outline-primary">Buscar</button>
        </div>
        
        <div class="table-hover">
            <table class="table" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">CEDULA</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">CORREO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">0106574589</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mark@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row">0106574575</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>jacob@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row">0106574475</th>
                        <td>Larry</td>
                        <td>Bird</td>
                        <td>larry@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="selectedForm === 'reportesNotas'">
        <label for="exampleDataList" class="form-label">Reportes de notas</label>
        <div class="input-group">
            <input type="search" id="cedula" name="cedula" class="form-control rounded" placeholder="Search"
                aria-label="Search" aria-describedby="search-addon" (input)="onSearchInputChange($event)" />
            <button type="button" class="btn btn-outline-primary">Buscar</button>
        </div>
        <div class="table-hover">
            <table class="table" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Last</th>
                        <th scope="col">Nota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>7.5/10</td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>8/10</td>
                    </tr>
                    <tr>
                        <td scope="row">3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>9/10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
<div>
    <button type="button" class="btn btn-outline-success" (click)="ngAfterViewInit()">Excel</button>
    <button type="button" class="btn btn-outline-danger">PDF</button>
</div>