<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Example</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
      /* Estilos para pantallas grandes */
      @media (min-width: 992px) {
      .form-row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
      }

      .form-group {
        flex: 1;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
    }

    /* Estilos para pantallas pequeñas */
    @media (max-width: 591px) {
      .formulario .form-row {
        display: block;
      }

      .form-group {
        margin-right: 0;
        margin-left: 0;
      }
      .menu{
        width: 100%;
    height: 660px;
      }
    }
    @media (max-width: 768px) {
  .form-group {
    width: 100%;
    margin-right: 0;
  }
  .formulario{
    display:grid;
  }
}
  </style>
</head>
<app-header></app-header>
<body>

 
  <div class="bgimage">
    <div class="menu">
      <!-- Add your menu items here -->
    </div>
    <div class="text">
     
     
      <form class="container" #signupForm="ngForm">
        <div class="row">
          <div class="col-3">
            <label for="cedula">Cédula</label>
            <input id="cedula" type="text" minlength="10" maxlength="10" pattern="[0-9]*" placeholder="Cedula" [(ngModel)]="signupRequest.persona.cedula" name="cedula" required (ngModelChange)="onCedulaChange($event)">
          </div>
          <div class="col-3">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" placeholder="Nombre" [(ngModel)]="signupRequest.persona.nombre" name="nombre" required>
            <small style="font-size: 10px;" class="text-danger" *ngIf="!valnombre">Campo requerido.</small>
          </div>
          <div class="col-3">
            <label for="apellido">Apellido</label>
            <input id="apellido" type="text" placeholder="Apellido" [(ngModel)]="signupRequest.persona.apellido" name="apellido" required>
            <small   style="font-size: 10px;" class="text-danger" *ngIf="!valapellido">Campo requerido.</small>
          </div>
          <div class="col-3">
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <input id="fecha_nacimiento" type="date" [max]="maxDate" placeholder="Fecha de nacimiento" [(ngModel)]="signupRequest.persona.fecha_nacimiento" name="fecha_nacimiento" required>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Email" [(ngModel)]="signupRequest.persona.email" name="email" required>
            <small  style="font-size: 10px;" class="text-danger" *ngIf="!valemail">Campo requerido en formato @gmail.com o @tecazuay.edu.ec</small>
          </div>
          <div class="col-3">
            <label for="direccion">Dirección</label>
            <input id="direccion" type="text" placeholder="Direccion" [(ngModel)]="signupRequest.persona.direccion" name="direccion" required>
            <small  style="font-size: 10px;" class="text-danger" *ngIf="!valdireccion">Campo requerido</small>
          </div>
          <div class="col-3">
            <label for="telefono">Telefono</label>
            <input id="telefono" type="text"  (input)="filtrarNumeros($event)"  placeholder="Telefono" [(ngModel)]="signupRequest.persona.telefono" name="telefono" required>
            <small  style="font-size: 10px;" class="text-danger" *ngIf="!valtelefono">Campo requerido en formato (xx)xxxxxxx</small>
          </div>
          <div class="col-3">
            <label for="nivelintruccion">Nivel de instrucción</label>
            <select id="nivelintruccion" class="form-control" name="nivelintruccion" [(ngModel)]="signupRequest.persona.nivelintruccion">
              <option>Primaria</option>
              <option>Secundaria</option>
              <option>Bachiller</option>
              <option>Tercer Nivel</option>
              <option>Cuarto Nivel</option>
            </select>
            <small  style="font-size: 10px;" class="text-danger" *ngIf="!valnivel">Campo requerido.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="sexo">Sexo</label>
            <select id="sexo" [(ngModel)]="signupRequest.persona.sexo" name="sexo" required>
              <option>Masculino</option>
              <option>Femenino</option>
              <option>Otro</option>
            </select>
            <small  style="font-size: 10px;" class="text-danger" *ngIf="!valsexo">Campo requerido.</small>
          </div>
          <div class="col-4">
            <label for="etnia">Etnia</label>
            <select id="etnia" class="form-control" name="etnia" [(ngModel)]="signupRequest.persona.etnia">
              <option>Mestizo</option>
              <option>Indígena</option>
              <option>Blanco</option>
              <option>Afroecuatoriano</option>
              <option>Otro</option>
            </select>
            <small   style="font-size: 10px;" class="text-danger" *ngIf="!valetnia">Campo requerido.</small>
          </div>
          <div class="col-4">
            <label for="celular">Celular</label>
            <input type="tel" class="form-control" id="celular" placeholder="Ingrese su celular" name="celular" [(ngModel)]="signupRequest.persona.celular" (input)="filtrarNumerosc($event)">
            <small  style="font-size: 10px;" class="text-danger" *ngIf="!valcelular">Campo requerido en formato (código de país y número) (xx)xxxxxxxxx</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Username" [(ngModel)]="signupRequest.username" name="username" required>
          </div>
          <div class="col-12">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password" [(ngModel)]="signupRequest.password" name="password" required>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" (click)="validarcampos()" class="btn btn-primary">Register</button>
          </div>
        </div>
      </form>
      
      
    </div>
  </div>
</body>
</html>


