<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
        <h1>Fichas de Evaluacion Creadas</h1>
    </div>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fichaEvaluacion of fichasEvaluacion">
          <td>{{ fichaEvaluacion.fevId }}</td>
          <td>{{ fichaEvaluacion.fevNombre }}</td>
          <td>
            <button
              (click)="editFichaEvaluacion(fichaEvaluacion)"
              class="btn btn-primary"
            >
              Editar
            </button>
            <button
              (click)="deleteFichaEvaluacion(fichaEvaluacion)"
              class="btn btn-danger"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
