<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluación Cursos de Formación Continua</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .radio-label {
        margin-left: 10px;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center mb-4">Evaluación Cursos de Formación Continua</h2>
      <form>
        <div class="row">
          <div class="col">
            <h4>A. El Profesor</h4>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Descripción</th>
                  <th scope="col">Calificación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.Desenvolvimiento dentro del Grupo</td>
                  <td>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento1"
                        value="1"
                      />
                      <label class="form-check-label" for="desenvolvimiento1"
                        >1</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento2"
                        value="2"
                      />
                      <label class="form-check-label" for="desenvolvimiento2"
                        >2</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento3"
                        value="3"
                      />
                      <label class="form-check-label" for="desenvolvimiento3"
                        >3</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento4"
                        value="4"
                      />
                      <label class="form-check-label" for="desenvolvimiento4"
                        >4</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento5"
                        value="5"
                      />
                      <label class="form-check-label" for="desenvolvimiento5"
                        >5</label
                      >
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>2.Explicación y dominio de los temas tratados</td>
                  <td>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento1"
                        value="1"
                      />
                      <label class="form-check-label" for="desenvolvimiento1"
                        >1</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento2"
                        value="2"
                      />
                      <label class="form-check-label" for="desenvolvimiento2"
                        >2</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento3"
                        value="3"
                      />
                      <label class="form-check-label" for="desenvolvimiento3"
                        >3</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento4"
                        value="4"
                      />
                      <label class="form-check-label" for="desenvolvimiento4"
                        >4</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento5"
                        value="5"
                      />
                      <label class="form-check-label" for="desenvolvimiento5"
                        >5</label
                      >
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>3.Vinculación entre la teoría y práctica</td>
                  <td>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento1"
                        value="1"
                      />
                      <label class="form-check-label" for="desenvolvimiento1"
                        >1</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento2"
                        value="2"
                      />
                      <label class="form-check-label" for="desenvolvimiento2"
                        >2</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento3"
                        value="3"
                      />
                      <label class="form-check-label" for="desenvolvimiento3"
                        >3</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento4"
                        value="4"
                      />
                      <label class="form-check-label" for="desenvolvimiento4"
                        >4</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento5"
                        value="5"
                      />
                      <label class="form-check-label" for="desenvolvimiento5"
                        >5</label
                      >
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>4. Estímulo para la participación</td>
                  <td>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento1"
                        value="1"
                      />
                      <label class="form-check-label" for="desenvolvimiento1"
                        >1</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento2"
                        value="2"
                      />
                      <label class="form-check-label" for="desenvolvimiento2"
                        >2</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento3"
                        value="3"
                      />
                      <label class="form-check-label" for="desenvolvimiento3"
                        >3</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento4"
                        value="4"
                      />
                      <label class="form-check-label" for="desenvolvimiento4"
                        >4</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento5"
                        value="5"
                      />
                      <label class="form-check-label" for="desenvolvimiento5"
                        >5</label
                      >
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>5.Acompañamiento en los trabajos grupales</td>
                  <td>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento1"
                        value="1"
                      />
                      <label class="form-check-label" for="desenvolvimiento1"
                        >1</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento2"
                        value="2"
                      />
                      <label class="form-check-label" for="desenvolvimiento2"
                        >2</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento3"
                        value="3"
                      />
                      <label class="form-check-label" for="desenvolvimiento3"
                        >3</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento4"
                        value="4"
                      />
                      <label class="form-check-label" for="desenvolvimiento4"
                        >4</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="desenvolvimiento"
                        id="desenvolvimiento5"
                        value="5"
                      />
                      <label class="form-check-label" for="desenvolvimiento5"
                        >5</label
                      >
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Sugerencia/comentario:</td>
                  <td>
                    <textarea
                      id="sugerencia_a"
                      name="sugerencia_a"
                      rows="3"
                      class="form-control"
                    ></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


          <div class="row">
            <div class="col">
              <h4>B. Contenidos</h4>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Calificación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.Utilidad de los contenidos</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>2.Calidad y claridad de los materiales didácticos</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>3.Cumple con las expectativas</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>  
                  <tr>
                    <td>Sugerencia/comentario:</td>
                    <td>
                      <textarea
                        id="sugerencia_b"
                        name="sugerencia_b"
                        rows="3"
                        class="form-control"
                      ></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h4>C. Metodología</h4>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Calificación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.Apoyos técnicos (Material visual, presentaciones, referencias bibliográficas etc.)</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>2.Plazo para la entrega de trabajos</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Sugerencia/comentario:</td>
                    <td>
                      <textarea
                        id="sugerencia_c"
                        name="sugerencia_c"
                        rows="3"
                        class="form-control"
                      ></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <h4>D. Logística</h4>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Calificación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.Organzación en general</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>2.Cumplimiento de horarios acordados</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>3.Puntualidad</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>  
                  <tr>
                    <td>Sugerencia/comentario:</td>
                    <td>
                      <textarea
                        id="sugerencia_d"
                        name="sugerencia_d"
                        rows="3"
                        class="form-control"
                      ></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <h4>E. Autoevaluacion</h4>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Calificación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.Cómo califica su propia participación en el curso?</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>2.Cómo califica la entrega oportuna de sus trabajos?</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>3.Cómo califica su asistencia y puntualidad en el curso?</td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento1"
                          value="1"
                        />
                        <label class="form-check-label" for="desenvolvimiento1"
                          >1</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento2"
                          value="2"
                        />
                        <label class="form-check-label" for="desenvolvimiento2"
                          >2</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento3"
                          value="3"
                        />
                        <label class="form-check-label" for="desenvolvimiento3"
                          >3</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento4"
                          value="4"
                        />
                        <label class="form-check-label" for="desenvolvimiento4"
                          >4</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="desenvolvimiento"
                          id="desenvolvimiento5"
                          value="5"
                        />
                        <label class="form-check-label" for="desenvolvimiento5"
                          >5</label
                        >
                      </div>
                    </td>
                  </tr>  
                  <tr>
                    <td>Sugerencia/comentario:</td>
                    <td>
                      <textarea
                        id="sugerencia_e"
                        name="sugerencia_e"
                        rows="3"
                        class="form-control"
                      ></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <h4>F. Propuestas de temas de Interés</h4>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Sugerencia</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Otros temas que te gustaría recibir en educación continua:</td>
                    <td>
                      <textarea
                        id="otro_tema"
                        name="otro_tema"
                        rows="3"
                        class="form-control"
                      ></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        <div class="mt-4">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
