<div class="container" style="background-color: #ffffff;">
  <div class="mt-4">
    <h3 style="text-align: center;">{{ isNew ? 'Nueva Área' : 'Editar Área' }}</h3>
    <form #areaForm="ngForm" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="areCodigo">Código</label>
            <input type="text" class="form-control" id="areCodigo" name="areCodigo"
              [(ngModel)]="areaSeleccionada.areCodigo" required>
            <small *ngIf="!areCodigoValido" class="text-danger">Campo requerido. El código debe contener solo letras
              mayúsculas</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="areNombre">Nombre</label>
            <input type="text" class="form-control" id="areNombre" name="areNombre"
              [(ngModel)]="areaSeleccionada.areNombre" required>
            <small *ngIf="!areNombreValido" class="text-danger">Campo requerido. El nombre debe contener solo letras
              mayúsculas</small>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{ isNew ? 'Crear' : 'Guardar' }}</button>
    </form>
  </div>
  <br>
  <br>
  <div class="form-group">
    <label for="buscar">Buscar:</label>
    <input type="text" class="form-control" id="buscar" name="buscar" [(ngModel)]="filtro" (keyup)="actualizarFiltro()">
  </div>
  <br>
  <h2>Áreas</h2>
  <table class="table">
    <thead>
      <tr class="bg-primary text-light">
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let area of areas">
        <tr *ngIf="area.areCodigo.toLowerCase().includes(filtro.toLowerCase()) || 
                   area.areNombre.toLowerCase().includes(filtro.toLowerCase())">
          <td>{{ area.areCodigo }}</td>
          <td>{{ area.areNombre }}</td>
          <td>{{ area.areEstado ? 'Activo' : 'Inactivo' }}</td>
          <td>
            <button class="btn btn-primary" (click)="editarArea(area)">Editar</button>
            <button class="btn btn-danger" (click)="eliminarArea(area.areId)">Eliminar</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>